[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
autopep8 = "*"
pillow = "*"
piexif = "*"
stegano = "*"
flask = "*"
python-dotenv = "*"
werkzeug = "*"
flask-cors = "*"

[requires]
python_version = "3.8"
